$gutter-base: 30px;
$gutter-large: $gutter-base * 2;
$gutter-small: $gutter-base / 2;
$gutter-xs: $gutter-base / 3;
$gutter-medium: $gutter-xs * 2;

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $gutter-base;

  @media only screen and (max-width: 500px) {
    padding: $gutter-base $gutter-small;
  }

  #intro {
    h1 {
      text-align: center;
      @media only screen and (max-width: 500px) {
        font-size: 24px;
      }
    }
    p {
      text-align: center;
      margin-top: $gutter-large;
    }
  }

  .form {
    &-group {
      min-width: 270px;
    }
    &-control {
      margin-bottom: $gutter-xs;
    }
  }

  #response {
    margin: $gutter-medium;
    text-align: center;
    @media only screen and (max-width: 500px) {
      margin: $gutter-medium 0;
      width: 100%;
    }
  }

  #facts {
    opacity: 0;
    // transition: opacity 0.2s ease-in-out;
    &.visible {
      opacity: 1;
    }
  }
}
